.benefit {
    position: relative
}

.benefit>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.benefit .common-StripeGrid .stripeContainer {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    overflow: visible;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

@media (min-width:670px) {
    .benefit .common-StripeGrid .stripeContainer {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media (min-width:1040px) {
    .benefit .common-StripeGrid .stripeContainer {
        -webkit-transform-origin: calc(50vw - 520px) 0;
        transform-origin: calc(50vw - 520px) 0
    }
}

.benefit .common-StripeGrid .grid {
    height: auto;
    grid-template-rows: repeat(7, var(--stripe-height))
}

.benefit .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 60px 0
}

.benefit .content h2 {
    color: #58567C
}

.benefit .content>:not(:last-child) {
    margin-bottom: 10px
}

.benefit .content strong {
    font-weight: 500;
    color: #58567C
}

@media (min-width:670px) {
    .benefit>div {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .benefit .content,
    .benefit figure {
        width: 100%
    }
}

#futureproof figure {
    padding: 20px;
    height: 300px;
    margin: -20px;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #f6f9fc
}

@media (min-width:670px) {
    #futureproof figure {
        height: 300px;
        padding: 0;
        margin: 0;
        overflow: visible;
        border: none
    }
}

#futureproof figure .changelog {
    display: block;
    height: 300px;
    max-width: 450px;
    margin: 0 auto;
    position: relative
}

@media (min-width:670px) {
    #futureproof figure .changelog {
        height: 300px;
        margin: 0 auto
    }
}

@media (min-width:880px) {
    #futureproof figure .changelog {
        /*margin-left: 60px*/
    }
}

@media (min-width:1040px) {
    #futureproof figure .changelog {
        margin-left: 80px
    }
}

#futureproof figure .changelog:hover .badge.blog {
    opacity: 1
}

#futureproof figure .badge {
    position: absolute;
    z-index: 100;
    left: 25px;
    top: -13px;
    padding: 0 15px;
    background: #24b47e;
    border-radius: 50px;
    /*text-transform: uppercase;*/
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: .025em;
    color: #fff;
    white-space: nowrap
}

#futureproof figure .badge.blog {
    font-weight: 600;
    background: #6772e5;
    opacity: 0;
    -webkit-transition: opacity .35s, background .15s;
    transition: opacity .35s, background .15s
}

#futureproof figure .badge.blog:hover {
    background: #32325d
}

#futureproof figure .entries {
    --transition-duration: 1250ms;
    --transition-delay: 250ms;
    position: relative;
    font-size: 15px;
    line-height: 25px;
    color: #58567C;
    font-family: "Camphor W01 Regular" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

#futureproof figure .entries li {
    --offset-delay: var(--transition-delay);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 20px 15px;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all var(--transition-duration);
    transition: all var(--transition-duration);
    -webkit-transition-delay: var(--offset-delay);
    transition-delay: var(--offset-delay);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%
}

@media (min-width:670px) {
    #futureproof figure .entries li {
        padding: 35px 40px
    }
}

#futureproof figure .entries li:after,
#futureproof figure .entries li>* {
    opacity: 0;
    -webkit-transition: all var(--transition-duration);
    transition: all var(--transition-duration);
    -webkit-transition-delay: var(--offset-delay);
    transition-delay: var(--offset-delay)
}

#futureproof figure .entries li:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6ebf1)) bottom/100% 150px repeat-x;
    background: linear-gradient(180deg, #fff, #e6ebf1) bottom/100% 150px repeat-x
}

#futureproof figure .entries li.card0 {
    --offset-delay: 0ms;
    z-index: 90
}

#futureproof figure .entries li.card0:after {
    opacity: 0
}

#futureproof figure .entries li.card1 {
    --offset-delay: calc(var(--transition-delay) * 0.25);
    opacity: 1;
    z-index: 80;
    pointer-events: auto;
    background: #fff;
    -webkit-box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .025);
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .025)
}

#futureproof figure .entries li.card1>* {
    opacity: 1
}

#futureproof figure .entries li.card1:after {
    opacity: 0
}

#futureproof figure .entries li.card2 {
    --offset-delay: calc(var(--transition-delay) * 0.5);
    opacity: 1;
    z-index: 70
}

#futureproof figure .entries li.card2:after {
    opacity: 1
}

#futureproof figure .entries li.card3 {
    --offset-delay: calc(var(--transition-delay) * 0.75);
    opacity: 1;
    z-index: 60
}

#futureproof figure .entries li.card3:after {
    opacity: .5
}

#futureproof figure .entries .meta {
    /*text-transform: uppercase;*/
    letter-spacing: .025em;
    margin-bottom: 7px
}

#futureproof figure .entries .meta>* {
    white-space: nowrap
}

#futureproof figure .entries .meta strong {
    font-weight: 600;
    color: #58567C;
    margin-right: 10px;
    margin-left: 5px;
    display: inline-block;
    transform: translateY(-10px);
    font-family: "Camphor W01 Regular" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

#futureproof figure .entries .meta span {
    font-weight: 500;
    color: #58567C
}
