body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;  
	background: linear-gradient(to right, #5c258d, #4389a2); 
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}
* {
	margin: 0;
	padding: 0;
}
.game {
	.gameInfo {
		text-align: center;
	}
	.gameView {
		width: 350px;
		height: 350px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	&__item {
		height: 70px;
		width: 70px;
		margin: 5px;
		background: #8E54E9;
		cursor: pointer;
		transition: all 0.5s ease;
		background: linear-gradient(to right bottom, #4776e6, #8e54e9);
		img {
			display: none;
			max-width: 100%;
		}
		&.active {
  			transform: scaleX(-1);
  			// border-radius: 50%;
  			img {
  				display: inline;
  			}
  			&[data-val="1"] {
				background: url(../img/1.png) no-repeat center;
				background-size: contain;
			}
			&[data-val="2"] {
				background: url(../img/2.png) no-repeat center;
				background-size: contain;
			}
			&[data-val="3"] {
				background: url(../img/3.png) no-repeat center;
				background-size: contain;
			}
			&[data-val="4"] {
				background: url(../img/4.png) no-repeat center;
				background-size: contain;
			}
			&[data-val="5"] {
				background: url(../img/5.png) no-repeat center;
				background-size: contain;
			}
			&[data-val="6"] {
				background: url(../img/6.png) no-repeat center;
				background-size: contain;
			}
			&[data-val="7"] {
				background: url(../img/7.png) no-repeat center;
				background-size: contain;
			}
			&[data-val="8"] {
				background: url(../img/8.png) no-repeat center;
				background-size: contain;
			}
		}
		&.hidden {
			opacity: 0;
			pointer-events: none !important;
		}
	}
	
}